.about-section {
    height: 100vh;
    position: relative;
}
.about-img {
    position: absolute;
    z-index: 1;
    top: 6.225em;
}
.about-desc {
    position: absolute;
    bottom: 8em;
    z-index: 2;
    padding: 5.5em;
    background-color: rgb(255, 255, 255);
    right: 5em;
}
.about-desc h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: lighter;
}
.about-desc p {
    font-size: 0.95em;
}