.footer-section {
    background-color: black;
    color: white;
    padding: 3em 0;
}
.footer-copyright {
    font-size: 0.8em;
    color: #a2a2a2;
}
.footer-menus {
    color: white;
    transition: all ease-in-out 300ms;
    text-decoration: none;
}

.footer-menus {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: white;
}
.footer-menus:hover {
    color: white;
}
.footer-menus:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.footer-menus:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: rgb(255, 255, 255);
    transition: width .5s ease;
}

.footer-menus:hover:before {
    width: 100%;
    background: rgb(255, 255, 255);
    transition: width .5s ease;
}

.footer-menus:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
